<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--构造方法注入-->
    <!--<constructor-arg>:用于配置构造方法一个参数arguent-->
        <!--name:参数名称
        value:设置普通数据
        ref:引用数据,一般是另一个bean id值-->
        <!--index:参数的索引号,从0开始 ,如果只有索引,匹配到了多个构造方法时,默认使用第一个
            type:确定参数类型-->
    <bean id="user"
          class="xml.a_constructor.User">
        <constructor-arg index="0" type="java.lang.Integer" value="1"/>
        <constructor-arg   index="1" type="java.lang.String" value="sun"/>
    </bean>

</beans>