<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">


   <!-- init-method:初始化方法
    destroy-method:销毁方法-->
    <bean id="userService"
          class="lifecycle.UserServiceImpl"
          init-method="myInit"
          destroy-method="myDestroy">
    </bean>

    <!--将后处理的实现类注册给spring-->
    <bean class="lifecycle.MyBeanPostProcessor"/>





</beans>